* {
    box-sizing: border-box;
}

body {
    margin: 25px;
}

.meny, .header, .portfolio, .workXp, .schoolXp, .placeHolder {
    border-radius: 10px;
    font-size: 1.5rem; 
    box-shadow: 5px 7.5px 10px rgba(0, 0, 0, 0.75);
    overflow: hidden;
}
  
.meny {
    grid-area: meny;
    background-color: rgb(90, 200, 170);
}

.header {
    grid-area: header;
    background-color: rgb(225, 110, 110);
    display: grid;
    grid-template-columns: 0.25fr repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr) 80%;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.workXp {
    grid-area: workXp;
    background-color: rgb(150, 140, 140);
    display: grid;
    grid-template-columns: 0.25fr repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr) 80%;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    
}

.portfolio {
    grid-area: portfolio;
    background-color: rgb(240, 140, 110)
}

.schoolXp {
    grid-area: schoolXp;
    background-color: rgb(150, 140, 140);
    display: grid;
    grid-template-columns: 0.25fr repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr) 80%;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    
}

.placeHolder {
    grid-area: placeHolder;
    background-color: rgb(90, 200, 220);
}

.icon1, .h2, .h3 {
    background-color: rgb(220, 140, 140);
    margin: 0px;
}

.icon1 { 
    grid-area: 1 / 1 / 5 / 2;
    text-align: center;
    padding: 3px 0;
    
}

.h2 { 
    grid-area: 1 / 2 / 3 / 4; 
    font-size: 1rem;
    margin: 0px;
    padding-bottom: 15px;
}

.h3 { 
    grid-area: 3 / 2 / 5 / 4; 
    font-size: 0.75rem;
    font-weight: lighter;
    margin: 0px;
    padding-bottom: 15px;
}

.p4 { 
    grid-area: 5 / 1 / 6 / 4; 
    font-size: 0.75rem;
    padding-left: 25px;
    padding-right: 25px;
}

.container {
    margin-left: auto;
    margin-right: auto;
    display: grid;
    align-content: center;
    justify-content: center;
    min-height: 90vh;
    grid-gap: 15px;
    grid-template-areas:
    "header"
    "meny" /*kanske hamburgare på mobil?*/
    "workXp"
    "portfolio"
    "schoolXp"
    "placeHolder";
}

@media only screen and (min-width: 600px)   {
    .container {
    grid-gap: 25px;
    grid-template-columns: 25% auto 25%;
    grid-template-areas:
    "meny  header  header"
    "workXp workXp portfolio"
    "placeHolder  schoolXp  schoolXp";
    min-width: 500px;
    max-width: 1024px;
    }
}

