* {
    box-sizing: border-box;
}

html { 
    background: url(img/icloudbg_1.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    margin: 25px;
}

.meny, .header, .portfolio, .workXp, .schoolXp, .placeHolder {
    border-radius: 10px;
    font-size: 1.5rem; 
    box-shadow: 5px 7.5px 25px rgba(0, 0, 0, 0.25);
    overflow: hidden;
}
  
.meny {
    grid-area: meny;
    background-color: transparent;
    background-image: linear-gradient(to top right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.8));
    display: grid;
    grid-template-columns: 0.25fr 1fr;
    grid-template-rows: repeat(4, 1fr) 80%;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.meny .icon1 {
    background-color: transparent;
}

.meny .smallH2 {
    background-color: transparent;
}

.header {
    grid-area: header;
    background-color: white;
    display: grid;
    grid-template-columns: 0.25fr repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr) 80%;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.header .p4 {
    position: relative;
}

.header .p4 {
    padding-top: 20px;
    padding-right: 150px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.headerImg {
    position: absolute;
    height: 150px;
    width: auto;
    right: 0px;
    bottom: 0px;
}

.workXp {
    grid-area: workXp;
    background-color: white;
    display: grid;
    grid-template-columns: 0.25fr repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr) 80%;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    
}

.portfolio {
    grid-area: portfolio;
    background-color: white;
    display: grid;
    grid-template-columns: 0.25fr 1fr;
    grid-template-rows: repeat(4, 1fr) 80%;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.portfolio .p4 {
    padding: 0px;
    position: relative;
}

.portfolio .p4 img {
    float: left;
    width: 50%;
    height: auto;
    margin: 0px;
    padding: 0px;
}

.schoolXp {
    grid-area: schoolXp;
    background-color: white;
    display: grid;
    grid-template-columns: 0.25fr repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr) 80%;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    
}

.placeHolder {
    grid-area: placeHolder;
    background-color: white;
    display: grid;
    grid-template-columns: 0.25fr 1fr;
    grid-template-rows: repeat(4, 1fr) 80%;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.icon1, .h2, .smallH2, .h3 {
    background-color: rgb(222, 244, 255);
    margin: 0px;
}

.icon1 { 
    grid-area: 1 / 1 / 5 / 2;
    text-align: center;
    padding: 13px 0;
    align-self: center;
    min-height: 50px;
    
}

.h2 { 
    grid-area: 1 / 2 / 3 / 4; 
    font-size: 1rem;
    margin: 0px;
    padding: 7px 0;
    overflow: visible;
}

.smallH2 {
    grid-area: 1 / 2 / 5 / 3; 
    font-size: 1rem;
    margin: 0px;
    overflow: visible;
    align-self: center;
    padding: 16px 0;
}

.h3 { 
    grid-area: 3 / 2 / 5 / 4; 
    font-size: 0.7rem;
    font-weight: lighter;
    margin: 0px;
    padding: 3px 0;
}

.p4 { 
    grid-area: 5 / 1 / 6 / 4; 
    font-size: 0.75rem;
    padding-left: 25px;
    padding-right: 25px;
}

.p4 li {
    margin: 10px 20px;
    align-self: center;
}

aside li:nth-child(1)::before { 
    content: '\1F4E7'; 
    margin-left: -20px; 
    margin-right: 10px; 
    font-size: 1rem;
}

aside li:nth-child(2)::before { 
    content: '\1F4DE'; 
    margin-left: -20px; 
    margin-right: 10px; 
    font-size: 1rem;
}

aside li:nth-child(3)::before { 
    content: '\1F4CB'; 
    margin-left: -20px; 
    margin-right: 10px; 
    font-size: 1rem;
}

aside li:nth-child(4)::before { 
    content: '\1F916'; 
    margin-left: -20px; 
    margin-right: 10px; 
    font-size: 1rem;
}

.container {
    margin-left: auto;
    margin-right: auto;
    display: grid;
    align-content: center;
    justify-content: center;
    min-height: 90vh;
    grid-gap: 15px;
    grid-template-areas:
    "header"
    "meny" /*kanske hamburgare på mobil?*/
    "workXp"
    "portfolio"
    "schoolXp"
    "placeHolder";
}

@media only screen and (min-width: 600px)   {
.container {
    grid-gap: 25px;
    grid-template-columns: 25% auto 25%;
    grid-template-areas:
    "meny  header  header"
    "workXp workXp portfolio"
    "placeHolder  schoolXp  schoolXp";
    min-width: 500px;
    max-width: 1024px;
    }
}

